@use './variables' as *;
@use './mixins' as *;
@use './typography' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, li {
    list-style-type: none;
    list-style: none;
}

a, a:visited {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

body {
    min-height: 100vh;
    width: 100%;
}

body, h1, h2, h3, h4, p {
    margin: 0;
}

.section {
    &--header {
        @include full-wrap($prim-black);
    }
    &--footer {
        @include full-wrap($prim-black);
    }
}

// Header layout
.navbar {
    background-color: $prim-black;
    width: 100%;
    @include flex (column, center, center);
    @include tablet {
        @include flex (row, center, flex-end)
    }
    @include desktop {
        width: 100%;
        margin: 0 auto;
    }

    &__title {
        margin: 0rem;
        size: 3rem;
    }

    &__img {
        width: 100%;
        height:1.8vh;
        margin: 1.5rem 0 0 0;
        @include tablet {
            width: 100%;
            height: 2vh;
            margin: 0 1.4rem;
        }
        @include desktop {
            width: 100%;
            height: 1.8vh;
            margin: 0 4.5rem;
        }
    }
    &__pages {
        font-family: 'Avenir Next LT Pro';
        width: 100%;
    }
    &__list {
        @include flex (row, flex-end, space-around);
        position: relative;
        top: 0.5rem;
        padding: 0;
        margin: 0.3rem 0;
        
        @include tablet {
            justify-content: left;
            padding: 0.5rem 0 0 4rem;
            margin: 0.5rem 0;
        }
        @include desktop {
            justify-content: left;
            padding: 0.5rem 0 0 4rem;
            margin: 0.5rem 0;
        }
    }

    &__list1 {
        color: $prim-white;
        text-align: center;
        font-size: 1rem;
        width: 100%;
        border-bottom-width: 0.3125rem;
        border-bottom-style: solid;
        border-bottom-color: $prim-white;
        padding: 0 0 0.5rem 0;
        &:hover {
            cursor: pointer;
            transition: all ease-in-out 0.5s;
        }
        @include tablet {
            padding: 0 0 1rem 0;
            margin: 0 1rem;
            width: 5.5rem;
        }
        @include desktop {
            margin: 0 0.4rem;
        }
    }
    &__link {
        color: $prim-white;
    }

}

// Footer layout 
.section--footer {
    font-family: 'Avenir Next LT Pro';
    @include desktop {
        display: flex;
        @include flex (row, baseline, space-between);
    }
}

.footer {
    background-color: $prim-black;
    color: $prim-white;
    padding: 1rem 1rem 0 1rem;
    * {
        padding: 0.4rem 0
    }
    @include tablet {
        @include flex(column, flex-start, space-between);
        padding: 1rem 2rem;
    }
    @include desktop {
        padding: 1rem 8rem;
        width: 100%;
    }
    &__details {
        padding: 0;       
        @include tablet {
            width: 100%;
            @include flex(column, flex-start, flex-start);
        }
    }
    &__social {
        padding: 0;
        display: flex;
        width: 100%;
        @include flex-direction (column);

        @include tablet {
            @include flex(row, center, flex-start);
        }
        @include desktop {
            @include flex(row, center, flex-start);
        }
    }

    &__title {
        padding: 0;
        font-size: 1rem;
        font-weight: 600;
        @include tablet {
            font-size: 2.2rem;
            margin-right: 1.6rem;
        }
        @include desktop {
            font-size: 1.6rem;
        }
    }
    &__links {
        padding: 0;
        @include flex-direction(row);
    }
    &__onelink {
        margin: 0 0.4rem 0 0;
    }
    &__icon {
        margin: 0 1.2rem 0 0;
        height: 1.5rem;
        padding: 0;
        border-radius: 0.2rem;
        &:hover {
            background-color: $prim-silver;
        }

    }
    &__contact {
        font-size: 1.5rem;
        font-family: 'Avenir Next LT Pro';

        @include tablet {
            @include flex(row, center, flex-start);
            width: 100%;
            padding: 0;
            font-size: .8rem;
        }

        @include desktop {
            @include flex(row, center, flex-start);
            width: 100%;
            font-size: .8rem;
        }
    }
    &__list {
        @include tablet {
            padding-right: 2rem;
        }
       
    }
    &__list--title{
        padding: 0;
        font-size: 0.8rem;
        font-weight: 600;
        @include tablet {
            font-size: 0.9rem;
        }
    }
    &__address {
        padding: 0;
        font-size: 0.8rem;

    }
    &__email {
        color: $prim-silver;
        font-size: 0.8rem;
        border-radius: 0.3rem;
        &:hover{
            background-color: $prim-white;
        }
    }
   
    &__copyright {
        color: $prim-white;
        font-family: 'Avenir Next LT Pro';
    }

    &__logo {
        
        &--mobile {
            margin: 0;
            padding: 0;
            font-size: 0.8rem;
            text-align: left;
            @include tablet {
                display: none;
                margin: 0;
            }
            @include desktop {
                display: none;
            }
        }
        &--tablet {
            display: none;
            @include tablet {
                display: flex;
                padding: 0.5rem 0 0.5rem 1.5rem;
            }
            @include desktop {
                display: none;
            }
        }

        &--desktop {
            display: none;
            @include desktop {
                display: flex;
                padding: 1.5rem 8rem 0 0;
            }
        }
    }
}