@use './variables' as *;

@mixin full-wrap($prim) {
    width: 100%;
    background: $prim;
}

//Responsive
@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
      @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
      @content;
    }
}

//flexbox
@mixin flex ($flex-direction, $aligh-items, $justify-content){
    display: flex;
    flex-direction: $flex-direction;
    align-items: $aligh-items;
    justify-content: $justify-content;
}

@mixin flex-direction($flex-direction){
    display: flex;
    flex-direction: $flex-direction;
}

@mixin wrap ($max-width, $margin) {
    max-width: $max-width;
    margin: $margin;
}