//Color scheme
//Primary colors
$prim-black: #323232;
$prim-silver: #AFAFAF;
$prim-white: #FFFFFF;

//Secondary colors
$sec-black: #000000;
$sec-mercury: #E1E1E1;
$sec-alabaster: #FAFAFA;

//layout grid
$desktop-breakpoint: 80rem;
$tablet-breakpoint: 48rem;

// $width: 100%;
$max-width: 1280px;