@use './partials/main' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;
@use './partials/typography' as *;

.section {
    &--header {
        @include full-wrap($prim-black);
    }
    &--hero {
        @include full-wrap($prim-black);
    }
    &--about {
        @include full-wrap($prim-white);
    }
    &--gallery {
        @include full-wrap($prim-silver);
    }
    &--footer {
        @include full-wrap($prim-black);
    }
}

.hero {
    display: flex;
    background-image: url('/assets/images/hero-bio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 24vh;
    
    @include tablet {
        height: 47vh;
        padding: 2rem;
    }
    @include desktop {
        height: 65vh;
        width: 80rem;
        margin: 0 auto;
        object-fit: cover;
        object-position: center;
    }

    
        
        
       

     &__title {
        align-self: center;
        color: $prim-white;
        font-family: 'Avenir Next';
        @include tablet {
            font-size: 3.3rem
        }
        @include desktop {
            font-size: 3.6rem;
            margin: 5rem;
        }
    }
    
}

.about {
    @include flex-direction (column);
    padding: 1rem;
    margin: 0 auto;
    
    @include tablet {
        padding: 2rem;
    }

    &__details {
        @include tablet {
            padding: 0 3.5rem;
        }
        @include desktop {
            margin: 0 7rem;
        }
    }
    &__title {
        padding: 0.5rem 0;
        font-size: 1.5rem;
        @include tablet{
            font-size: 2rem;
        }
        @include desktop {
            margin: 0.5rem 5rem 0 5rem;
            font-size: 2.5rem;
        }
    }

    &__img {
        padding:0.3rem 0;
        width: 100%;
        height: 10.8rem;
        object-fit: cover;
        object-position: bottom;

        @include tablet {
            height: 18.75rem;
        }
        @include desktop {
            height: 28.125rem;
            padding-right: 1rem;
        }
    }

    &__quote {
        padding: 2rem 0;
        @include tablet {
            margin: 1rem 0 0 0;
        }
        @include desktop {
            width: 76%;
        }
    }
    &__quote--text{
        font-size: .9rem;
        text-align: left;
        @extend %font-demi;
        @include tablet {
            font-size: 1.4rem;
        }
        @include desktop {
            font-size: 1.4rem;
            text-align: left;

        }
    }
    &__author {
        font-size: .9rem;
        @extend %font-demi;
        padding: 1rem;
        @include tablet {
            padding: 0.7rem 0;
            font-size: 1rem;
        }
    }

    &__bio {
        padding: 0.5rem 0;
    }

    &__bio--title {
        font-size: 1rem;
        padding: 0.5rem 0;
        @extend %font-demi;
        @include tablet {
            font-size: 1.3rem;
        }
        @include desktop {
            font-size: 1.5rem;
        }
    }

    &__bio--text {
        font-family: 'Avenir Next LT Pro';
        @include tablet {
            @include flex-direction(row);
        }
    }

    &__bio--text1 {
        font-size: 0.8rem;
        padding: 0.5rem 0;
        // @extend %font-reg;
        @include tablet {
            padding: 1rem 2rem 0 0;
        }
        @include desktop {
            width: 100%;
            font-size: 0.9rem;
            margin: 0;
            padding-right: 1rem;
            text-align: left;
        }
    }
    &__bio--text2 {
        font-size: 0.8rem;
        padding: 0.5rem 0;
        // @extend %font-reg;
        @include tablet {
            padding: 1rem 2rem 0 0;
        }
        @include desktop {
            width: 100%;
            font-size: 0.9rem;
            margin: 0;
            padding-right: 1rem;
            text-align: left;
        }
    }
}

.gallery {
    background-color: $sec-alabaster;
    padding: 0.5rem 1rem;
    width: 100%;
    @include tablet {
        padding: 1.5rem 1rem;
    }
    @include desktop {
        padding: 3rem 7rem 2rem 7rem;
        margin: 0 auto;
    }
    &__title {
        padding: 1rem 0 0 0;
        font-size: 1.5rem;
        @extend %font-demi;
        @include tablet {
            padding: 1.5rem 0 0.5rem 1rem;
            font-size: 2rem;
        }
        @include desktop {
            font-size: 2.5rem;
            padding: 1.5rem 0 0.5rem 0.7rem;
        }
    }
    &__list {
        @include tablet {
            @include flex(row, center, center);
            flex-wrap: wrap;
        }
        @include desktop {
            padding: 0;
        }
    }
    &__img {
        padding: 0.5rem 0;
        filter: grayscale(100%);
        &:hover {
            filter: grayscale(0%);
            transform: all ease-in-out 0.2s;
        }
        @include tablet {
            width: 15rem;
            padding: 0.5rem;
        }
        @include desktop {
            width: 30%;
            padding: 0.7rem 1.1rem 0.7rem 0;
        }
    }
}

