* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
  list-style: none;
}

a, a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  min-height: 100vh;
  width: 100%;
}

body, h1, h2, h3, h4, p {
  margin: 0;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("/assets/font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/assets/font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/assets/font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-style: 700;
  font-style: normal;
}
html {
  font-family: "Avenir Next";
}

.footer__title, .footer__list--title {
  font-weight: 600;
}

.section--header {
  width: 100%;
  background: #323232;
}
.section--footer {
  width: 100%;
  background: #323232;
}

.navbar {
  background-color: #323232;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 48rem) {
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 80rem) {
  .navbar {
    width: 100%;
    margin: 0 auto;
  }
}
.navbar__title {
  margin: 0rem;
  size: 3rem;
}
.navbar__img {
  width: 100%;
  height: 1.8vh;
  margin: 1.5rem 0 0 0;
}
@media screen and (min-width: 48rem) {
  .navbar__img {
    width: 100%;
    height: 2vh;
    margin: 0 1.4rem;
  }
}
@media screen and (min-width: 80rem) {
  .navbar__img {
    width: 100%;
    height: 1.8vh;
    margin: 0 4.5rem;
  }
}
.navbar__pages {
  font-family: "Avenir Next LT Pro";
  width: 100%;
}
.navbar__list {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  position: relative;
  top: 0.5rem;
  padding: 0;
  margin: 0.3rem 0;
}
@media screen and (min-width: 48rem) {
  .navbar__list {
    justify-content: left;
    padding: 0.5rem 0 0 4rem;
    margin: 0.5rem 0;
  }
}
@media screen and (min-width: 80rem) {
  .navbar__list {
    justify-content: left;
    padding: 0.5rem 0 0 4rem;
    margin: 0.5rem 0;
  }
}
.navbar__list1 {
  color: #FFFFFF;
  text-align: center;
  font-size: 1rem;
  width: 100%;
  border-bottom-width: 0.3125rem;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  padding: 0 0 0.5rem 0;
}
@media screen and (min-width: 48rem) {
  .navbar__list1 {
    padding: 0 0 1rem 0;
    margin: 0 1rem;
    width: 5.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .navbar__list1 {
    margin: 0 0.4rem;
  }
}
.navbar__link {
  color: #FFFFFF;
}

.section--footer {
  font-family: "Avenir Next LT Pro";
}
@media screen and (min-width: 80rem) {
  .section--footer {
    display: flex;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem 1rem 0 1rem;
}
.footer * {
  padding: 0.4rem 0;
}
@media screen and (min-width: 48rem) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer {
    padding: 1rem 8rem;
    width: 100%;
  }
}
.footer__details {
  padding: 0;
}
@media screen and (min-width: 48rem) {
  .footer__details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.footer__social {
  padding: 0;
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .footer__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 80rem) {
  .footer__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}
.footer__title {
  padding: 0;
  font-size: 1rem;
}
@media screen and (min-width: 48rem) {
  .footer__title {
    font-size: 2.2rem;
    margin-right: 1.6rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__title {
    font-size: 1.6rem;
  }
}
.footer__links {
  padding: 0;
  display: flex;
  flex-direction: row;
}
.footer__onelink {
  margin: 0 0.4rem 0 0;
}
.footer__icon {
  margin: 0 1.2rem 0 0;
  height: 1.5rem;
  padding: 0;
  border-radius: 0.2rem;
}
.footer__icon:hover {
  background-color: #AFAFAF;
}
.footer__contact {
  font-size: 1.5rem;
  font-family: "Avenir Next LT Pro";
}
@media screen and (min-width: 48rem) {
  .footer__contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 48rem) {
  .footer__list {
    padding-right: 2rem;
  }
}
.footer__list--title {
  padding: 0;
  font-size: 0.8rem;
}
@media screen and (min-width: 48rem) {
  .footer__list--title {
    font-size: 0.9rem;
  }
}
.footer__address {
  padding: 0;
  font-size: 0.8rem;
}
.footer__email {
  color: #AFAFAF;
  font-size: 0.8rem;
  border-radius: 0.3rem;
}
.footer__email:hover {
  background-color: #FFFFFF;
}
.footer__copyright {
  color: #FFFFFF;
  font-family: "Avenir Next LT Pro";
}
.footer__logo--mobile {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  text-align: left;
}
@media screen and (min-width: 48rem) {
  .footer__logo--mobile {
    display: none;
    margin: 0;
  }
}
@media screen and (min-width: 80rem) {
  .footer__logo--mobile {
    display: none;
  }
}
.footer__logo--tablet {
  display: none;
}
@media screen and (min-width: 48rem) {
  .footer__logo--tablet {
    display: flex;
    padding: 0.5rem 0 0.5rem 1.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__logo--tablet {
    display: none;
  }
}
.footer__logo--desktop {
  display: none;
}
@media screen and (min-width: 80rem) {
  .footer__logo--desktop {
    display: flex;
    padding: 1.5rem 8rem 0 0;
  }
}

.display-comments__wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.9375rem;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
  margin: 0 auto;
}
.comments__title {
  font-size: 2rem;
  padding: 1rem 0;
}
.comments__add--comments {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.comments__img {
  background-image: url("/assets/images/Mohan-muruge.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 3rem;
  height: 2.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 2rem 0;
}
.comments__form {
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}
.comments__list {
  margin: 0;
  padding: 0 0 1rem 1rem;
}
.comments__label {
  text-transform: uppercase;
  color: #AFAFAF;
  font-size: 0.7rem;
  font-family: "Avenir Next LT Pro";
}
.comments__name, .comments__text {
  width: 100%;
  margin: 0.3rem 0 1.2rem 0;
  padding: 1rem;
  border-radius: 0.25rem;
  border-style: solid;
  border-color: #E1E1E1;
}
.comments__btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.comments__button {
  width: 100%;
  padding: 0.5rem 2rem;
  background-color: #323232;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 0.25rem;
  border: none;
}

.display-comments {
  margin: 0;
  line-height: 1.2rem;
  font-family: "Avenir Next LT Pro";
}
.display-comments__list {
  padding: 0;
}
.display-comments__card {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  border-bottom: 0.0625rem;
  border-bottom-style: solid;
  border-bottom-color: #AFAFAF;
  padding: 1rem 0 1rem 0.5rem;
  width: 100%;
}
.display-comments__card:first-child {
  border-top: 0.0625rem;
  border-top-style: solid;
  border-top-color: #AFAFAF;
}
.display-comments__content {
  width: 100%;
  padding: 0 0 0 1rem;
}
.display-comments__name-and-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.9rem;
  padding: 0 0 0.5rem 0;
}
.display-comments__name {
  font-size: 0.9rem;
  padding: 0 0 0.5rem 0;
  font-family: "Avenir Next";
}
.display-comments__date {
  color: #AFAFAF;
  font-size: 0.9rem;
}
.display-comments__text {
  text-align: left;
  font-size: 0.9rem;
}
.display-comments__img {
  background-color: #E1E1E1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 3rem;
  height: 2.9rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 2rem 0;
}

.section--hero {
  width: 100%;
  background: #AFAFAF;
}
.section--shows {
  width: 100%;
  background: #AFAFAF;
}

.hero {
  background-image: url("/assets/images/hero-shows.jpg");
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh;
  font-family: "Avenir Next LT Pro";
}
@media screen and (min-width: 48rem) {
  .hero {
    height: 70vh;
    padding: 2rem;
  }
}
.hero__album-title {
  padding: 0.6rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .hero__album-title {
    font-size: 1.8rem;
  }
}
.hero__title {
  padding: 0.6rem;
  align-self: left;
  width: 72%;
  color: #FFFFFF;
}
.hero__text {
  font-weight: 600;
  -moz-columns: #FAFAFA;
       columns: #FAFAFA;
}
@media screen and (min-width: 48rem) {
  .hero__text {
    font-size: 4.5rem;
  }
}
.hero__music {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 48rem) {
  .hero__music {
    width: 58%;
  }
}
.hero__iframe {
  width: 90%;
  height: 19vh;
  border-radius: 0.4rem;
  border: none;
}
@media screen and (min-width: 48rem) {
  .hero__iframe {
    height: 20vh;
  }
}

.shows {
  padding: 0;
  margin: 0;
  color: #323232;
  font-family: "Avenir Next LT Pro";
}
.shows__title {
  padding: 1rem;
  font-weight: 600;
  font-family: "Avenir Next";
}
@media screen and (min-width: 48rem) {
  .shows__title {
    padding: 2.6rem 0 0 2rem;
    font-size: 3rem;
  }
}
.shows__title--desktop {
  display: none;
}
.shows__list {
  margin: 1rem;
  text-transform: uppercase;
  font-size: 0.9rem;
}
@media screen and (min-width: 48rem) {
  .shows__list {
    padding: 0 1rem 1rem 1rem;
  }
}
.shows__list-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 0.75rem;
}
.shows__list-item--header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  color: #AFAFAF;
}
.shows__venue {
  padding-left: 0;
}
@media screen and (min-width: 48rem) {
  .shows__venue {
    padding-left: 1rem;
  }
}
.shows__location {
  padding-right: 0;
}
@media screen and (min-width: 48rem) {
  .shows__location {
    padding-right: 1rem;
  }
}
.shows__cards {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-bottom: 0.0625rem solid;
  border-color: #E1E1E1;
  text-transform: none;
}
.shows__cards--clicked {
  border-color: #AFAFAF;
  border-radius: 0.2rem;
  transition: background-color 0.2s ease;
}
@media screen and (min-width: 48rem) {
  .shows__cards {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.shows__date, .shows__venue, .shows__location {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  font-size: 1rem;
}
@media screen and (min-width: 48rem) {
  .shows__date, .shows__venue, .shows__location {
    min-width: 15rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}
.shows__label {
  color: #AFAFAF;
  padding: 1rem 0 0 0;
  text-transform: uppercase;
  font-size: 0.9rem;
}
@media screen and (min-width: 48rem) {
  .shows__label {
    display: none;
  }
}
.shows__label--tabletAndDesktop {
  display: none;
}
@media screen and (min-width: 48rem) {
  .shows__label--tabletAndDesktop {
    display: flex;
  }
}
.shows__button {
  text-transform: uppercase;
  background-color: #323232;
  color: #FFFFFF;
  padding: 0.625rem 1.25rem;
  text-align: center;
  cursor: pointer;
  width: 95%;
  transition: background-color 0.2s ease;
}
.shows__button:hover {
  background-color: #E1E1E1;
  color: #323232;
  cursor: pointer;
}
@media screen and (min-width: 48rem) {
  .shows__button {
    width: 80%;
    font-size: 1rem;
    padding: 1rem 0.8rem 1rem 0;
  }
}/*# sourceMappingURL=shows.css.map */